right-translate = 75vw
left-translate = 5vw

.smooth-scroll
  width: 100%

.panel
  position: absolute
  width: 10vw
  height: 10vw
  @media all and (max-width: 1200px)
    position: relative
    width: 100%
    height: 33.33vw
    display: flex
    justify-content: center


  h3
    z-index: 4
  .right-panel
    width: 90vw
    height: 10vw
    position: absolute
    transform: translateX(5vw) translateY(-33vw) scaleY(4) scaleX(4)
    background: #131417
    z-index: 1
    animation: fadein 1s
  .right-panel.open
    display: block
    @media all and (max-width: 1200px)
      display: none
      height: 0
    p
      transform: translateX(-5vw) scaleY(0.4) scaleX(0.4)
      width: 80%
  .right-panel.closed
    display: none
  .left-panel
    background: white
    width: 10vw
    height: 10vw
    @media all and (max-width: 1200px)
      width: 33.33vw
      height: 33.33vw
      position: absolute
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    z-index: 2
  .left-panel.open
    cursor: default
    animation: reveal 1s
    @media all and (max-width: 1200px)
      animation: reveal-mobile 1s
      transform: translateX(-33vw) translateY(20vw) scaleY(4) scaleX(4)
    transform-origin: center left
    transform: translateX(left-translate) translateY(0) scaleY(4) scaleX(4)
    font-size: 0em
  .left-panel.closed
    cursor: pointer
    animation: unreveal 1s
    transform-origin: origin
    transform: translateX(right-translate) scaleY(1)
    @media all and (max-width: 1200px)
      animation: unreveal-mobile 1s
      transform: translateX(0) translateY(0vw) scaleY(1) scaleX(1)
    font-size: 1em
  .left-panel-text
    width: 10vw
    height: 10vw
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    transform-origin: center left
    transform: translateX(5vw) translateY(0) scaleY(4) scaleX(4)
    background: transparent
    position: relative
    left: 0
    z-index: 3
    overflow: hidden
    opacity: 0
    @media all and (max-width: 1200px)
      opacity: 0
  .left-panel-text.open
    cursor: default
    animation: fadein 0.3s linear 1s
    animation-fill-mode: forwards
    backface-visibility: hidden
    -webkit-font-smoothing: subpixel-antialiased
    @media all and (max-width: 1200px)
      transform: translate3d(20px, -20vw, 0)
      width: 100%
      align-items: flex-start
      padding-left: 10vw
      height: 30vw
    transform-origin: center left
    p
      font-size: 0.5em
      @media all and (max-width: 1200px)
        width: auto
        font-size: 1em
    h1
      font-size: 1em
      color: white
      z-index: 1
      transition: all 0.5s
      @media all and (max-width: 1200px)
        font-size: 1.5em
    p
    h1
      backface-visibility: hidden
      transform: translateZ(0)
      color #534265
      font-weight: 900
      white-space: nowrap
      -webkit-font-smoothing: subpixel-antialiased
    img.wallpaper
      position: absolute
      top: 0
      left: 0
      z-index: -1
      object-fit: cover
      width: 100%
      height: 10vw
      object-position: center
      filter: contrast(50%) brightness(50%)
    .iframe-container
      display: none
  .left-panel-text.closed
    cursor: pointer
    animation: unreveal 1s
    pointer-events: none
    @media all and (max-width: 1200px)
      opacity: 0
    transform-origin: origin
    transform: translateX(right-translate) scaleY(1)
    h1
    p
    img.wallpaper
    .iframe-container
      display: none
  .right-panel-text
    opacity: 0
  .right-panel-text.closed
    opacity: 0
  .right-panel-text.open
    iframe
      width: 50%
    transform: translateY(-20vw)
    animation: fadein 0.5s linear 1.5s
    animation-fill-mode: forwards
    width: 45vw
    position: absolute
    top: 5vw
    margin-left: 45vw
    @media all and (max-width: 1200px)
      transform: translateY(0vw)
      margin: 0
      padding: 0
      width: 100%
      height: 80vw
    @media all and (max-width: 800px)
      transform: translateY(0vw)
      margin: 0
      padding: 0 20px
      width: auto
      height: 80vw

    padding-left: 2.5vw
    z-index: 2
    padding-top: 5vw
    height: 40vw
    box-sizing: border-box
    overflow-y: scroll
    -webkit-overflow-scrolling: touch
    overflow-x: hidden
    p
      @media all and (max-width: 1200px)
        color: black
::-webkit-scrollbar
  display: none
