.featured
  width: 100%
  height: 100%

.featured-album
  display: grid
  grid-template-columns: repeat(2, 1fr)
  grid-template-rows: repeat(2, 1fr)
  align-items: center
  box-sizing: border-box
  padding: 60px 5vw

.featured-image
  width: 50%
  margin: 0 auto
  grid-row: 1/3
  img
    width: 100%