@keyframes peek-in
  from
    opacity 0
    transform translate3d(0, 40px, 0)

  100%
    opacity 1
    transform translate3d(0, 0, 0)

.panel
  animation fade-in 0.5s
  position fixed
  z-index 1
  top 0
  left 0
  width 100%
  height 100%
  display flex
  flex-direction row

  @media all and (max-width: 64rem)
    flex-direction column

  .left-side
    padding 10rem 5rem
    width 50%
    background rgba(27, 27, 27, 0.5)

    for row in 1 2 3 4
      > :nth-child({row})
        transform translate3d(0, 40px, 0)
        display block
        opacity 0
        animation peek-in 1s (row * 0.25s)
        animation-fill-mode forwards

    @media all and (max-width: 64rem)
      width 100%
      padding 5rem 2rem 2rem

  .right-side
    padding 10rem 5rem
    width 50%
    overflow-y scroll

    iframe
      width 100%

    h1, h2, p, a
      color white

    h2
      color #d68280

    p
      color black

    @media all and (max-width: 64rem)
      width 100%

  h1, p, a
    color white