.post
  padding 5rem
  margin 1rem auto 4rem
  width calc(100% - 2rem)
  box-shadow 0 0 4px 1px rgba(231, 228, 228, 0.9)
  background white

  h2
    white-space nowrap
    text-overflow clip
    max-width 100%
    overflow scroll

  a
    display block