.card
  cursor pointer
  height 100%
  animation-fill-mode forwards
  transition transform 0.5s ease
  perspective 10px
  margin auto
  width 10rem
  height 10rem

  .svg-inline--fa.fa-w-16
    width 100%
