delay = 0.5s

/* login, signup page exit transition */
.auth.transition-exit.transition-exit-active
  animation disappear 0.24s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s 1 normal forwards

/* login, signup page enter transition */
.auth.transition-enter.transition-enter-active
  animation slide-in 0.24s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s 1 normal forwards

.transition-exit.transition-exit-active
  animation slide-in 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s 1 reverse forwards

/* login page enter transition from home (idiosyncratic) */
.login.dashboard-container-enter.dashboard-container-enter-active
  animation slide-in 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s 1 normal forwards

/* home page exit transition */
.dashboard-container.section.transition-exit.transition-exit-active
  footer
    animation disappear 0.56s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s 1 normal forwards

  .dashboard
    for row in 1 .. 8
      :nth-child({row})
        .card-content
          animation disappear (0.07 * row)s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s 1 normal forwards

        .card-label
          animation disappear (0.07 * row)s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s 1 normal forwards

  .header
    animation slide-over 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s 1 normal forwards

/* profile page enter transition */
.transition-enter.transition-enter-active
  animation slide-in 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s 1 normal forwards

/* home page enter transition */
.dashboard-container.dashboard-container-enter.dashboard-container-enter-active
  footer
    transform scale(0)
    animation disappear 0.56s cubic-bezier(0.455, 0.03, 0.515, 0.955) delay 1 reverse forwards

  .dashboard
    for row in 1 .. 8
      :nth-child({row})
        .card-content
          transform scale(0)
          animation disappear (0.07 * row)s cubic-bezier(0.455, 0.03, 0.515, 0.955) delay 1 reverse forwards

        .card-label
          transform scale(0)
          animation disappear (0.07 * row)s cubic-bezier(0.455, 0.03, 0.515, 0.955) delay 1 reverse forwards

  .header
    transform translate3d(100vw, 0, 0)
    animation slide-over 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) delay 1 reverse forwards

/* profile page exit transition */
.dashboard-container-exit.dashboard-container-exit-active
  animation slide-in 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s 1 reverse forwards
