.input-field-container
  animation gentle-slide 1s ease-in
  display flex
  justify-content flex-start
  align-items center
  margin 0.5rem 0
  width 25rem
  box-shadow 0 1px 8px rgba(0, 0, 0, 0.1)

  > *
    padding 1rem
    height 1rem

  label
    text-align center
    width 25%
    background #fff
    border-right none
    color #333333
    border-left 1px solid
    border-bottom 1px solid
    border-top 1px solid
    border-color #cccccc
    display flex
    justify-content center
    align-items center
    font-size 0.77rem

  .input-field
    flex 1
    -webkit-appearance none
    border-radius 0
    background-color #FFFFFF
    border-style solid
    border-width 1px
    border-color #cccccc
    color rgba(0, 0, 0, 0.75)
    display block
    font-size 0.85rem
    transition border-color 0.15s linear, background 0.15s linear
    outline none

  .svg-inline--fa
    width 10%

  .input-field::placeholder
    color grey

@keyframes gentle-slide
  from
    opacity 0
    transform translate3d(-3rem, 0, 0)

  to
    opacity 1
    transform translate3d(0, 0, 0)