.page .container
  background white
  box-shadow 0px 0px 10px #DDD
  margin 0 auto
  padding 2rem
  color #808080
  display flex
  justify-content center
  align-items center
  flex-direction column
  height auto

  a
    margin 1rem 0