.home-page
  iframe
    margin-top: 20px
  .news-feed
    background: section-color
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
  .text-block-header
    display: flex
    justify-content: space-between
