.home-page
  iframe
    margin-top: 20px
  .news-feed
    background: section-color
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
  p
  h4
    padding: 10px 0
  .text-block-header
    display: flex
    justify-content: space-between
  .iframes-container
    padding: 20px 0
