.button
  background-color #17181f
  border-radius 0
  display flex
  margin 0.5rem auto
  justify-content center
  align-items center
  cursor pointer
  transition 0.1s ease

  &:hover, &:active
    background-color white

    label
      color black

  label
    color white
    font-size 0.9rem
    padding 0.9rem 1.5rem