.page > div > div.rich-editor
  padding 5rem 1rem

  @media all and (max-width: 64rem)
    display block
    position relative

  .RichEditor-controls, .color-controls
    @media all and (max-width: 63.9375rem)
      width 100%
      display flex
      flex-wrap wrap
      padding 1rem

    @media all and (max-width: 39.9375rem)
      padding 0.5rem

.editor
  display flex

  @media all and (max-width: 64rem)
    width 100%
    padding 1rem

.DraftEditor-root
  width 60rem
  margin 0 auto
  background transparent
  overflow auto

  span[data-offset-key]
    font-size 1rem

  #placeholder-as2di
    font-size 1rem

  .link-span, .link-span span
    color #6565d9
    font-weight bold
    text-decoration underline

  .iframe-span
    background-color #22202b
    color white

  .hashtag-span, .hashtag-span span
    color #1DA1F2
    font-weight bold

.entity-controls
  .create-entity-button
    padding 0.1rem 0.5rem
    background-color transparent
    color grey