*
  box-sizing border-box

body
  margin 0

@font-face
  font-family Futura
  src url('/static/futura_book_bt.ttf') format('ttf')

@font-face
  font-family 'Galano'
  src url('/static/Galano\ Grotesque.otf') format('otf')

h1, h2, h3, p, li, label, input
  font-family Futura
  font-weight 100
  color #20202d

a
  font-family Futura
  font-weight 100

h2
  font-size 4rem
  margin 0

.title
  padding 10rem 0

  @media all and (max-width: 64rem)
    padding 8rem 2rem

.arrow
  fill transparent
  -webkit-filter drop-shadow(1px 7px 5px rgba(0, 0, 0, 0.85))
  stroke black
  margin-top 15px

  text
    fill url('#banner-pattern')

@keyframes floating
  0%
    box-shadow 0 5px 15px 0px rgba(0, 0, 0, 0.6)
    transform translate3d(0, 0, 0)

  50%
    box-shadow 0 25px 15px 0px rgba(0, 0, 0, 0.2)
    transform translate3d(0, 20px, 0)

  100%
    box-shadow 0 5px 15px 0px rgba(0, 0, 0, 0.6)
    transform translate3d(0, 0, 0)

.home
  padding 5rem
  display grid
  grid-template-columns repeat(2, 1fr)
  align-items flex-start
  grid-auto-flow column
  overflow-x hidden
  width 100%
  position fixed
  top 0
  left 0
  overflow-y scroll
  height 100vh
  flex-direction column

  @media all and (max-width: 64em)
    grid-template-columns repeat(1, 1fr)
    grid-auto-flow row
    overflow-y scroll
    padding 5rem 0 0

  @media all and (max-width: 64em)
    display block
    position absolute

  .news-feed
    width 100%
    min-height 0
    height 100vh
    overflow scroll

    @media all and (max-width: 64em)
      height auto

::-webkit-scrollbar
  display none