@keyframes text-puzzle
  from
    opacity 0
    transform translate3d(0, 55px, 0)

  to
    opacity 1
    transform translate3d(0, 0, 0)

transform-squash(a)
  transform scaleY(a) scaleX(a)

.nav-bar-container
  z-index 2
  position absolute
  top 0
  left 0

.nav-bar
  border-bottom 2px solid #fff
  display flex
  align-items center
  height 4rem
  -webkit-overflow-scrolling touch

  @media all and (min-width: 1449px)
    justify-content space-between
    padding 1rem 21%

  @media all and (max-width: 1450px)
    justify-content space-evenly
    padding 0

  // position fixed
  z-index 3
  background white
  width 100vw

  .dropdown-trigger-label
    padding 1rem

  .dropdown-items
    animation fade-in 0.5s
    position absolute
    padding 1rem
    background-color white

    .nav-bar-item
      margin 0 0.05rem

      &:hover > label
        color #ff7e7e

  .input-field-container
    width 17rem

  .nav-bar-logged-in-items
    display flex
    justify-content center
    align-items center

    .nav-bar-logged-in-item
      padding 0 1rem
      animation drop-in 0.2s

      label
        cursor pointer

      &:hover > label
        color #ff7e7e

  .nav-bar-title
    transform translate3d(0, 10px, 0)

    for row in 1 .. 8
      > :nth-child({row})
        display inline-block
        animation text-puzzle (row * 0.1s) cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.5s normal forwards

    font-size 1.3em
    transition 0.5s ease-in-out
    backface-visibility hidden
    white-space nowrap
    transform translateZ(0)
    font-weight 900
    -webkit-font-smoothing subpixel-antialiased

  label
    display block
    font-size 0.75em
    white-space nowrap

  .dashboard-button:before
    content '\f1fa'

  #nav-bar-search-button
    flex 0.5

.nav-bar-mobile
  padding 10px
  display flex
  justify-content center
  align-items center
  position absolute
  top 0
  left 0
  width 100%
  z-index 3

  a
    margin-top 1rem

  h2
    transition 0.05s ease
    font-size 1.3em
    transition 0.2s ease-in-out
    backface-visibility hidden
    white-space nowrap
    transform translateZ(0)
    font-weight 900
    -webkit-font-smoothing subpixel-antialiased
    transform-squash(1)

  .hide-nav-bar-title
    transform-squash(0)
