$title-font-stack: Futura, Helvetica, sans-serif;
$font-stack: Elsa, sans-serif;
$primary-color: #41374c;
$bg-p-color: #111;
$bg-header-color: #983131;
$bg-section-color: #261e29;
$bg-footer-color: #b4bbc6;
$bg-baseline-footer-color: #af8075;
$h1-color: #FFF;
$h2-color: #293548;;
$carousel-dots-width: 4px;
$carousel-dots-scale: 0.6;

@import './scss/components/BaselineFooter';
@import './scss/components/Footer';
@import './scss/components/Header';
@import './scss/components/HeaderArrow';
@import './scss/components/Navbar';
@import './scss/components/Navigation';
@import './scss/components/Section';
@import './scss/components/Slider';
@import './scss/components/SliderImage';
@import './scss/components/Panel';

@mixin center($horizontal: true, $vertical: true) {
    position: absolute;
    @if ($horizontal and $vertical) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    } @else if ($horizontal) {
        left: 50%;
        transform: translate(-50%, 0);
    } @else if ($vertical) {
        top: 50%;
        transform: translate(0, -50%);
    }
}

body {
    margin: 0;
    overflow-x: hidden;

    h1 {
      position: absolute;
      left: 50%;
      width: 50%;
      text-align: center;
      transform: translate(-50%, -50vw);
      font: 200% $title-font-stack;
      color: $h1-color;
    }

    h3 {
        margin: 0;
        color: white;
    }

    p {
        float: right;
        font: 100% $font-stack;
        color: $primary-color;
    }

    img {
        width: 100%;
    }

    .slick-dots {
    width: 5%;
    margin: 0;
    float: right;
    margin-left: 95%;
    list-style: none;
    text-align: center;
    top: 50%;
    }

    .slick-dots li {
    position: relative;
    cursor: pointer;
    float: right;
    margin: inherit;
    display: inline-flex;
    margin-right: 50%;
    }

    .slick-dots li button {
      display: inline-flex;
      font-size: 0;
      line-height: 0;
      cursor: pointer;
      color: transparent;
      list-style-type: none outside none;
      width: 20px;
      height: 20px;
      outline: 0;
      background: 0 0;
      padding: 0;
      margin: 0;
      transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -webkit-transition: all 0.25s ease-in-out;
      border: 3px solid rgba(255, 0, 0, 0);
      border-radius: 40px;
    }

    .slick-dots li button:focus,
    .slick-dots li button:hover {
        outline: 0;
        opacity: 1;
    }

    .slick-dots li button:hover {
        transform: scale3D($carousel-dots-scale, $carousel-dots-scale, $carousel-dots-scale);
        -moz-transform: scale3D($carousel-dots-scale, $carousel-dots-scale, $carousel-dots-scale);
        -webkit-transform: scale3D($carousel-dots-scale, $carousel-dots-scale, $carousel-dots-scale);
        transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -webkit-transition: all 0.25s ease-in-out;
        border: $carousel-dots-width solid white;
        border-radius: 40px;
        opacity: 1;
    }

    .slick-dots li button:focus:before,
    .slick-dots li button:hover:before {
        opacity: 1;
    }

    .slick-dots li button:before {
      font-size: 15px;
      line-height: 0%;
      position: relative;
      top: 0%;
      left: 0%;
      width: 10px;
      height: 10px;
      margin: 0 auto;
      content: '';
      border: 2px solid white;
      background-color: transparent;
      border-radius: 40px;
      opacity: 1.0;
      color: #545454;
    }

    .slick-dots li.slick-active button:before {
        opacity: 1;
        color: #FFF;
        background-color: white;
        border: 1px solid white;
        border-color: white;
    }
}
