$navbar-button-hover-color: #878494;

@mixin css-transition($prop, $time, $easing) {
  -webkit-transition: $prop $time $easing;
  -moz-transition: $prop $time $easing;
  transition: $prop $time $easing;
}

.TopNavbar {
    position: absolute;
    top: 5vh;
    right: 5vh;
}

.TopNavbar button {
    background-color: transparent;
    font: 0.9em $font-stack;
    border: none;
    padding: 10px;
    margin-left: 10px;
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 10px;
    outline: none;
}

.TopNavbar button h3 {
    @include css-transition(all, 0.2s, ease-in-out);
}

.TopNavbar button h3:hover {
  color: $navbar-button-hover-color;
}

.BottomNavbar {
    position: relative;
    top: 25vh;
    left: 25%;
}

.BottomNavbar button {
    font: 100% $font-stack;
    border: none;
    padding: 0;
    margin-left: 1.25%;
    margin-right: 1.25%;
    width: 10%;
}
