$panel-font-stack: Futura, sans-serif;
$panel-color: #1c1e22;
$panel-hover-color: #f25555;

@mixin css-transition($prop, $time, $easing) {
  -webkit-transition: $prop $time $easing;
  -moz-transition: $prop $time $easing;
  transition: $prop $time $easing;
}

@mixin banter-transition($time, $easing) {
-webkit-transition:  margin-left $time $easing, margin-top $time $easing, height $time $easing, left $time $easing, top $time $easing, width $time $easing $time, padding-right $time $easing $time, background-color $time $easing, color $time $easing $time;
-moz-transition:  margin-left $time $easing, margin-top $time $easing, height $time $easing, left $time $easing, top $time $easing, width $time $easing $time, padding-right $time $easing $time, background-color $time $easing, color $time $easing $time;
transition:  margin-left $time $easing, margin-top $time $easing, height $time $easing, left $time $easing, top $time $easing, width $time $easing $time, padding-right $time $easing $time, background-color $time $easing, color $time $easing $time;
}

@mixin css-transition-banter($time, $easing) {
  -webkit-transition: height $time $easing, margin-left $time $easing, margin-top $time $easing, background-color $time $easing, width $time $easing $time;
  -moz-transition: height $time $easing, margin-left $time $easing, margin-top $time $easing, background-color $time $easing, width $time $easing $time;
  transition: height $time $easing, margin-left $time $easing, margin-top $time $easing, background-color $time $easing, width $time $easing $time;
}

@mixin css-transition-backwards($time, $easing) {
  -webkit-transition: height $time $easing .25s, margin-left $time $easing .25s, margin-top $time $easing .25s, background-color $time $easing .25s, width $time $easing;
  -moz-transition: height $time $easing .25s, margin-left $time $easing .25s, margin-top $time $easing .25s, background-color $time $easing .25s, width $time $easing;
  transition: height $time $easing .25s, margin-left $time $easing .25s, margin-top $time $easing .25s, background-color $time $easing .25s, width $time $easing;
}

.PanelContainer {
  position: absolute;
  width: 100%;
  padding-left: 50%;
  height: 33vh;
  float:left;
  display: inline-grid;

}

.PanelClass {
  /*@include css-transition(all, .4s ,ease-in-out);*/
  /*float: left;*/
}

.PanelClass button {
  position: absolute;
  font-family: $panel-font-stack;
  letter-spacing: 0.2em;
  background-color: $panel-color;
  border: none;
  margin: 0;
  width: 9vw;
  height: 9vw;
  outline: none;
  color: white;
  @include banter-transition(.25s ,ease-in-out);

}

.PanelClass button:hover {
  background-color: $panel-hover-color;
  color: $panel-hover-color;
}

.PanelClass button:active {

}


/*.PanelClass:hover {
  position: absolute !important;
  margin-left: 5% !important;
  margin-top: 5% !important;
  height: 50px !important;
  background-color: green !important;
  padding: 0 !important;
  border: none !important;
}*/

/*.PanelClass button:hover {
  transition: all 0.25s ease-in-out;
  background-color: #696684;
  position: absolute !important;
  background-color: red !important;
  height: 50px;
  padding: 0 !important;
  border: none !important;
  top: 0 !important;
  left: 0 !important;
}*/
