$panel-font-stack: Futura, sans-serif;
$panel-color: #41374c;
$panel-hover-color: #f27460;

@mixin css-transition($prop, $time, $easing) {
  -webkit-transition: $prop $time $easing;
  -moz-transition: $prop $time $easing;
  transition: $prop $time $easing;
}

@mixin css-transition-banter($time, $easing) {
  -webkit-transition: height $time $easing, margin-left $time $easing, margin-top $time $easing, background-color $time $easing, width $time $easing .25s;
  -moz-transition: height $time $easing, margin-left $time $easing, margin-top $time $easing, background-color $time $easing, width $time $easing .25s;
  transition: height $time $easing, margin-left $time $easing, margin-top $time $easing, background-color $time $easing, width $time $easing .25s;
}

@mixin css-transition-backwards($time, $easing) {
  -webkit-transition: height $time $easing .25s, margin-left $time $easing .25s, margin-top $time $easing .25s, background-color $time $easing .25s, width $time $easing;
  -moz-transition: height $time $easing .25s, margin-left $time $easing .25s, margin-top $time $easing .25s, background-color $time $easing .25s, width $time $easing;
  transition: height $time $easing .25s, margin-left $time $easing .25s, margin-top $time $easing .25s, background-color $time $easing .25s, width $time $easing;
}

.PanelContainer {
  position: absolute;
  width: 100%;
  padding-left: 50%;
  height: 100%;
  float:left;
  display: inline-grid;

}

.PanelClass {
  /*@include css-transition(all, .4s ,ease-in-out);*/
  /*float: left;*/
}

.PanelClass button {
  position: absolute;
  font-family: $panel-font-stack;
  letter-spacing: 0.2em;
  background-color: #27192d;
  border: none;
  margin: 0;
  margin-left: 1em;
  margin-top: 1em;
  padding: 0;
  float:left;
  width: 8em;
  height: 8em;
  outline: none;
  display: block;
  color: white;
  @include css-transition-banter(.2s ,ease-in-out);
}

.PanelClass button:hover {
    background-color: $panel-hover-color;
    color: $panel-hover-color;
    z-index: 999;
}

.PanelClass button:active {

}


/*.PanelClass:hover {
  position: absolute !important;
  margin-left: 5% !important;
  margin-top: 5% !important;
  height: 50px !important;
  background-color: green !important;
  padding: 0 !important;
  border: none !important;
}*/

/*.PanelClass button:hover {
  transition: all 0.25s ease-in-out;
  background-color: #696684;
  position: absolute !important;
  background-color: red !important;
  height: 50px;
  padding: 0 !important;
  border: none !important;
  top: 0 !important;
  left: 0 !important;
}*/
