$section-background-color: #141618;

.SectionContainer {
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    padding: 0;
    background-color: $bg-section-color;
    display: block;

    .Section {
      left: 0;
      z-index: 999;
      margin: 0;
      padding: 0;
      width: 100%;
      border: none;
      height: 100%;
      display: inline-block;
      background-color: $section-background-color;
      display: flex;
      justify-content: center;
      align-items: center;

    }

    .LeftSection {
      width: 50vw;
    }

    .SectionImage {
      object-fit: cover;
      height: 100vh;
    }
}
