
.article section
  margin 0 auto
  position absolute
  top 5rem
  left 0
  width 100%
  height 100%
  display grid
  grid-template-columns 60% 40%

  @media all and (max-width: 39.9375rem)
    padding 0 4rem

  @media all and (min-width: 40rem) and (max-width: 63.9375rem)
    padding 0 4rem

  @media all and (min-width: 63.9375rem)
    padding 0 21rem

  p
    margin 0.1rem

  .markdown-image
    padding 5rem 0

  aside
    width 100%
    margin-left 50%

    @media all and (max-width: 800px)
      margin-left 20%

    .sidebar-menu
      position fixed
      border-left 1px solid #ec6602

      .smooth-scroll
        width 100%
        height 100%

        li
          cursor pointer
