right-translate = 75vw
left-translate = 5vw

@mixin reveal($t)
  -webkit-animation: reveal $t /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: reveal $t /* Firefox < 16 */
  -ms-animation: reveal $t /* Internet Explorer */
  -o-animation: reveal $t /* Opera < 12.1 */
  animation: reveal $t

@keyframes reveal
  0%
    transform-origin: origin
    transform: translateX(right-translate) scaleY(1) scaleX(1)
    font-size: 0em
  60%
    transform-origin: origin
    transform: translateX(left-translate) scaleY(4) scaleX(1)
    font-size: 0em
  100%
    transform-origin: center left
    transform: translateX(left-translate) scaleY(4) scaleX(4)
    font-size: 0em

@mixin reveal-mobile($t)
  -webkit-animation: reveal-mobile $t /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: reveal-mobile $t /* Firefox < 16 */
  -ms-animation: reveal-mobile $t /* Internet Explorer */
  -o-animation: reveal-mobile $t /* Opera < 12.1 */
  animation: reveal-mobile $t

@keyframes reveal-mobile
  0%
    transform-origin: origin
    transform: translateX(0vw) translateY(0) scaleY(1) scaleX(1)
    font-size: 0em
  60%
    transform-origin: origin
    transform: translateX(-33vw) translateY(20vw) scaleY(4) scaleX(1)
    font-size: 0em
  100%
    transform-origin: center left
    transform: translateX(-33vw) translateY(20vw) scaleY(4) scaleX(4)
    font-size: 0em
