.card
  cursor pointer
  height 100%
  animation-fill-mode forwards
  transition transform 0.5s ease
  perspective 10px

  .card-content
    transition time easing
    border-top-left-radius 0.5rem
    border-top-right-radius 0.5rem
    display flex
    justify-content center
    background #ec6602
    width 100%
    height 100%

    svg
      width 3rem
      height 100%
      margin 0 auto

  .card-label
    border-bottom-left-radius 0.5rem
    border-bottom-right-radius 0.5rem
    background white
    padding 1rem 0

    // flex-grow 0.1
    // display flex
    // justify-content center
    // align-items center
    label
      color #808080
      text-align center