.grid-container
  display grid
  grid-template-columns repeat(2, 1fr)
  grid-template-rows repeat(2, 1fr)
  width 100%
  height max-content

  .grid-item-container
    @media all and (max-width: 33.99rem)
      padding 1rem

      .grid-item
        margin 0

    @media all and (min-width: 34rem)
      margin 1rem

    .grid-item
      transform-origin top left
      background-color white
      box-shadow 0 0 4px 1px rgba(231, 228, 228, 0.9)
      min-width 0
      padding 1rem
      transition transform 0.5s ease-in 0.5s
      display block
      height 100%

      &:hover
        background-color black

        p, a
          color white

      p
        transition transform 0.5s ease-in, opacity 0.5s ease-in

      p, h3
        pointer-events none

  .open
    z-index 4

    .grid-item
      box-shadow 0 0 4px 1px rgba(34, 31, 31, 0.9)
      background-color black

      p, h3, a
        animation fade-away 0.5s
        animation-fill-mode forwards

@keyframes fade-away
  from
    opacity 1
    transform translate3d(0, 0, 0)

  to
    opacity 0
    transform translate3d(70px, 0, 0)

@keyframes fade-in
  from
    opacity 0
    transform translate3d(4rem, 0, 0)

  to
    opacity 1
    transform translate3d(0, 0, 0)