.menu-bar
  transition 0.2s ease
  display flex
  flex-direction column
  padding 20px
  padding-left 25px
  height 100vh
  width 300px
  position absolute
  top 0
  right 0
  background white
  z-index 2

  label
    display inline-block

  h3
    text-align left
    letter-spacing 5px

  .block-links
    display flex
    flex-direction column
    padding 40px
    padding-top 65px

  .resume-block
    margin 30px 0