.page-layout {
  .logo {
    position: absolute;
    z-index: 3;
    color: white;
    cursor: default;
    transform: scale(0.5);
    transform-origin: center;
  }
  .header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
