.panel {
  background: #1c1e22;
  width: 10vh;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  cursor: pointer;

  h3 {
    cursor: pointer;
    color: $section-color;
    transform: translate3d(0,0,0);
  }
}

.panel:hover {
  background: #f25555;
}

.open {
  animation: reveal 1s;
  transform-origin: top left;
  transform: translateX(-66.66vw) translateY(-33vh) scaleX(40) scaleY(7.5);
  font-size: 0em;
}

.panel-content {
  width: 87vw;
  height: 76vh;
  background: blue;
  display: flex;
  opacity: 0.5;
  position: absolute;
  transform: translateY(-33.33vh) translateX(-66.66vw);
  z-index: 1;
  pointer-events: none;

  h1, p {
    color: white;
  }

  .left-content {
    width: 50%;
    height: 76vh;
    background: #f25555;
    padding: 10%;
    box-sizing: border-box;
  }
  .right-content {
    width: 50%;
    height: 76vh;
    background: #1c1e22;
    padding: 0 10%;
    box-sizing: border-box;
  }
}

.closed {
  animation: unreveal 1s;
  transform-origin: top left;
  transform: translateX(0vw) translateY(0vw) scaleX(1) scaleY(1);
  font-size: 1em;
}
