$panel-height: 74.5vh;

.panel-container {
}

.panel {
  background: #1c1e22;
  width: 10vh;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease-in-out;
  cursor: pointer;

  h3 {
    cursor: pointer;
    color: $section-color;
    transform: translate3d(0,0,0);
  }
}

.closed > .panel:hover {
  background: #f25555;
}

.open > .panel {
  animation: reveal 1s;
  transform-origin: top left;
  transform: translateX(-66.66vw) translateY(-33vh) scaleX(40) scaleY(7.5);
  font-size: 0em;
  background: #f25555;
  transition: background-color 0.25s ease 0.5s;
  background-color: #1c1e22;;
}

.open ~ .split-pane {
  .left-pane {
    width: 50vw;
  }
  .right-pane {
    width: 50vw;
  }
}

.split-pane {
  @include slidein(0.9s);
  width: 87vw;
  height: $panel-height;
  display: flex;
  position: absolute;
  transform: translate3d(-66.66vw, -42.9vh,0);
  background: #1c1e22;
  pointer-events: none;


  h1, p {
    color: white;
    white-space: nowrap;
  }

  .left-pane {
    transition: width 0.25s ease 0.5s;
    width: 0vw;
    height: $panel-height;
    background: #f25555;
    padding: 10vw;
    box-sizing: border-box;
  }
  .right-pane {
    transition: width 0.25s ease 0.5s;
    width: 50vw;
    height: $panel-height;
    background: #1c1e22;
    padding: 0 10vw;
    box-sizing: border-box;
  }
}

.closed > .panel {
  animation: unreveal 1s;
  transform-origin: top left;
  transform: translateX(0vw) translateY(0vw) scaleX(1) scaleY(1);
  font-size: 1em;
}
