.section {
  width: 100%;
  background: $section-color;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .section-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
