.section {
  width: 100%;
  background: $section-color;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media all and (max-width: 800px) {
    flex-direction: column;
  }

  .section-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
