.contact-page
  h4
    margin: 4px 0
    padding: 5px 2px

  .section
    .contact-form
      display: grid
      @media all and (max-width: 800px)
        width: 75%

      input
        display: flex
        justify-content: space-between
        font-size: 1.2em
        margin: 0
        padding: 5px
        box-sizing: border-box
        @media all and (max-width: mobile-width)
          flex-direction: column
          align-items: center
          margin: 20px 0
          width: 100%


      textarea
          font-size: 1.2em
          margin: 0
          padding: 5px
          resize: none
          margin-bottom: 20px

      button
        border: none
        width: 20%
        background: #87bb6f
        padding: 10px
        font-size: 1.2em
        color: white
        @media all and (max-width: mobile-width)
          margin: 50px 0
          width: auto
