.cross
  @include bounceIn(0.5s)
  left: 0
  margin-top: -100px
  position: absolute
  height: 40px
  width: 40px
  z-index: 9
  cursor: pointer
  box-sizing: border-box
  transform-origin: center left
  transform: scaleY(0.2) scaleX(0.2)

  .left-bar
      background: #b9b9b9
      height: 5px
      transform: translateY(15px) rotate(45deg)
      transition: transform 0.5s ease

  .right-bar
      background: #b9b9b9
      height: 5px
      transform: translateY(10px) rotate(-45deg)



.cross:hover > .left-bar
  background: black


.cross:hover > .right-bar
  background: black


.not-shown
  display: none


.shown
  display: block
