@keyframes drop-out
  from
    transform scale(1)

  to
    transform scale(0)

@keyframes drop-in
  from
    transform scale(0)

  to
    transform scale(1)

.dashboard-container
  padding-top 4rem

.dashboard
  width 100%
  max-width 22rem
  margin 0 auto
  display grid
  // grid-gap 2rem
  grid-template-columns repeat(auto-fit, minmax(10rem, 1fr))

  @media all and (max-width: 800px)
    max-width 30rem

  transition transform time, opacity time
  transition-timing-function easing
  perspective-origin center
  justify-content center
  align-items center
  height calc(100vh - 20rem)

  @media all and (max-width: 1200px)
    grid-template-columns repeat(auto-fit, minmax(9rem, 1fr))

  @media all and (max-width: 800px)
    grid-template-columns repeat(auto-fit, minmax(9rem, 1fr))

  for row in 1 .. 4
    > :nth-child({row})
      transform scale(0)
      animation drop-in (0.2 * row)s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s 1 normal forwards
      display flex
      flex-direction column
      justify-content center
